body {  font-family: arial, helvetica, geneva; font-size: 10pt; clip:   rect(   ); margin-top: 5mm; margin-left: 3mm; }
p, td { font-family: arial, helvetica, geneva; font-size: 10pt; }
th { font-family: arial, helvetica, geneva; font-size: 11px; font-weight: bold; }
pre { font-family: "Courier New", Courier, mono; font-size: 10pt; }
.sub, sup {  font-family: arial, helvetica, geneva; font-size: 10pt; }
code { font-family: "Courier New", Courier, mono; font-size: 10pt; }
li { font-family: arial, helvetica, geneva; font-size: 10pt; }

h1 { font-family: arial, helvetica, geneva; font-size: 28px; font-weight: bold; }
h2 { font-family: arial, helvetica, geneva; font-size: 18pt; font-weight: bold; color: #000000; border-bottom: thin solid #0080C0; }
h2.checklist { font-family: arial, helvetica, geneva; font-size: 18pt; font-weight: bold; color: #000000; }
h3 { font-family: arial, helvetica, geneva; font-size: 14pt; font-weight: bold; }
h4 {  font-family: arial, helvetica, geneva; font-size: 13pt; font-weight: bold; }
hr { margin-left: 40px; margin-right: 40px; color: #0080C0; height: 1px; }

/* Table indent */
.indent { margin-left: 40px; }