table.content { 
	background-color: white; 
	text-align: left;
	margin-left:auto; 
	margin-right:auto;
	cellpadding: 20;
}
div.figure {	
	background-color: white;
	text-align: center;
}
div.fileContent {	
	background-color: white;	
	text-align: left;}
div.figure-caption { 
	text-align: center; 
	border-top-width: thin;	
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-top-color: #FFFFFF;}
span.figure-number {  font-weight: bold;}
pre.program {  margin-left: 1em;  margin-right: 1em;  padding: 5px;  background-color: whitesmoke;}

