# Make sure that requests for RSS files are handled
AddType application/x-httpd-php .rss

# Understanding Layouts
# Redirect old/incorrect URLs to the correct location.
Redirect permanent "/articles/Understanding Layouts/Understanding Layouts.htm" http:/articles/Article-Understanding-Layouts/Understanding-Layouts.htm
Redirect permanent "/articles/Article-Understanding Layouts/Understanding Layouts.htm" http:/articles/Article-Understanding-Layouts/Understanding-Layouts.htm
