# Understanding Layouts
# Redirect old/incorrect URLs to the correct location.
Redirect permanent "/articles/Understanding Layouts/Understanding Layouts.htm" http:/articles/Article-Understanding-Layouts/Understanding-Layouts.htm
Redirect permanent "/articles/Article-Understanding Layouts/Understanding Layouts.htm" http:/articles/Article-Understanding-Layouts/Understanding-Layouts.htm
