# Make sure that requests for RSS files are handled
AddType application/x-httpd-php .rss

# Redirect old school links to index.html
Redirect permanent "/articles/index.html" http:/articles/index.php
Redirect permanent "/articles/index.htm" http:/articles/index.php

# Understanding Layouts
# Redirect old/incorrect URLs to the correct location.
Redirect permanent "/articles/Understanding Layouts/Understanding Layouts.htm" http:/articles/Article-Understanding-Layouts/Understanding-Layouts.htm
Redirect permanent "/articles/Article-Understanding Layouts/Understanding Layouts.htm" http:/articles/Article-Understanding-Layouts/Understanding-Layouts.htm

# JFace Tree Viewer
# Redirect old/incorrect URLs to the correct location.
Redirect permanent "/articles/treeviewer-cg/TreeViewerArticle.htm" http:/articles/Article-TreeViewer/TreeViewerArticle.htm

# ActiveX Support in SWT
# Redirect old/incorrect URLs to the correct location.
Redirect permanent "/articles/Article-ActiveX Support in SWT/ActiveX Support in SWT.html" http:/articles/Article-ActivexSupportInSwt/index.html

# Your First Plug-in
# Redirect old/incorrect URLs to the correct location.
Redirect permanent "/articles/Your First Plug-in.html" http:/articles/Article-Your%20First%20Plug-in/YourFirstPlugin.html
