div.figure {
	text-align: center;
}

span.copy {
	font-family: Times New Roman,Times,serif; 
	font-size: small;
}

span.corner {
	font-family: Arial,Helvetica; 
	font-weight: bold; 
	color: rgb(255, 255, 255);
}

div.figure-caption {
	text-align: center;
}

span.figure-number {
	font-weight: bold;
}

p {
	text-align: justify;
}

dt {
	font-weight: bold;
	padding-left: 1ex;
	margin-bottom: 3px;
}

dd {
	margin-bottom: 1ex;
}

pre.code {
	background-color: #f8f8f8;
	color: #000000;
	padding: 2px 4px;
}

span.c2h_comment {
    color: #444444;
}

span.c2h_doc_comment {
    color: #008000;
    font-style: italic;
}

span.c2h_string {
    color: #640000;
}

span.c2h_esc_string {
    color: #77dd77;
}

span.c2h_character {
    color: #008000;
}

span.c2h_esc_character {
    color: #77dd77;
}

span.c2h_numeric {
    color: #000000;
    font-style: plain;
}

span.c2h_identifier {
    color: #000000;
}

span.c2h_predefined_identifier {
    color: #2040a0;
    font-weight: bold;
}

span.c2h_predefined_type {
    color: #2040a0;
    font-weight: bold;
}

span.c2h_reserved_word {
    color: #7f0055;
    font-weight: bold;
}

span.c2h_library_function {
    color: #a52a2a;
    font-weight: bold;
}

span.c2h_include {
    color: ##0000ff;
    font-weight: bold;
}

span.c2h_preprocessor {
    color: #0000ff;
    font-weight: bold;
}

span.c2h_braces {
    color: #000000;
    font-weight: normal;
}

span.c2h_symbol {
    color: #404080;
}

span.c2h_function_header {
    color: #000000;
    font-weight: bold;
}

span.c2h_function_header_name {
    color: #ff0000;
}

span.c2h_function_header_args {
    color: #2040a0;
}

span.c2h_regex {
    color: #b000d0;
}

span.c2h_text {
    color: #000000;
    font-style: italic;
}

span.c2h_entity {
    color: #ff0000;
}

span.c2h_assignment {
    color: #2040a0;
}

span.c2h_dependecy_line {
    color: #8b2252;
}

span.c2h_dependency_target {
    color: #000000;
    font-weight: bold;
}

span.c2h_dependency_continuation {
    color: #000000;
    font-weight: bold;
}

span.c2h_continuation {
    color: #000000;
    font-weight: bold;
}

span.c2h_macro {
    color: #2040a0;
}

span.c2h_int_macro {
    color: #4080ff;
}

span.c2h_esc_dollars {
    color: #444444;
}

span.c2h_separator {
    color: #00A040;
    font-weight: bold;
}

span.c2h_line_spec {
    color: #A0A000;
    font-weight: bold;
}

span.c2h_deletion {
    color: #FF0000;
    font-weight: bold;
}

span.c2h_insertion {
    color: #0000FF;
    font-weight: bold;
}

body.c2h {
    color: #000000;
    background-color: #ffffff;
}
