# Understanding Layouts
# Redirect old/incorrect URLs to the correct location.
Redirect permanent "/articles/Article-action-contribution/Contributing Actions to the Eclipse Workbench.html" http:/articles/Article-action-contribution/index.html
