p, table, td, th {  font-family: arial, helvetica, geneva; font-size: 10pt}
h1 {  font-family: arial, helvetica, geneva; font-size: 28px; font-weight: bold}
h2 { font-family: arial, helvetica, geneva; font-size: 18pt; font-weight: bold ; line-height: 14px}
h3 {  font-family: arial, helvetica, geneva; font-size: 14pt; font-weight: bold}
li {  font-family: arial, helvetica, geneva; font-size: 10pt}

sup {  font-family: arial,helvetica,geneva; font-size: 12px}

body {  font-family: arial, helvetica, geneva; font-size: 10pt; clip:   rect(   ); margin-top: 5mm; margin-left: 3mm}

.indextop { font-size: x-large;; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold}
.indexsub { font-size: xx-small;; font-family: Arial, Helvetica, sans-serif; color: #8080FF}

a.bar:link {  text-decoration: none; color: #FFFFFF}
a.bar:visited {  color: #FFFFFF; text-decoration: none}
a.bar:hover {  color: #FFFFFF; text-decoration: underline}
a.bar {  color: #FFFFFF}

div.figure {
	text-align: center;
}

span.copy {
	font-family: Times New Roman,Times,serif; 
	font-size: small;
}

span.corner {
	font-family: Arial,Helvetica; 
	font-weight: bold; 
	color: rgb(255, 255, 255);
}

div.figure-caption {
	text-align: center;
}

span.figure-number {
	font-weight: bold;
}

p {
	text-align: justify;
}

dt {
	font-weight: bold;
	padding-left: 1ex;
	margin-bottom: 3px;
}

dd {
	margin-bottom: 1ex;
}

pre {  font-family: "Courier New", Courier, mono; font-size: 10pt; background: #F8F8F8;}
code {  font-family: "Courier New", Courier, mono; font-size: 10pt; }
pre.code {
	background-color: #f8f8f8;
	color: #000000;
	padding: 2px 4px;
}

span.code_comment {
    color: #444444;
}

span.code_doc_comment {
    color: #008000;
    font-style: italic;
}

span.code_string {
    color: #640000;
}

span.code_esc_string {
    color: #77dd77;
}

span.code_character {
    color: #008000;
}

span.code_esc_character {
    color: #77dd77;
}

span.code_numeric {
    color: #000000;
    font-style: plain;
}

span.code_identifier {
    color: #000000;
}

span.code_predefined_identifier {
    color: #2040a0;
    font-weight: bold;
}

span.code_predefined_type {
    color: #2040a0;
    font-weight: bold;
}

span.code_reserved_word {
    color: #7f0055;
    font-weight: bold;
}

span.code_library_function {
    color: #a52a2a;
    font-weight: bold;
}

span.code_include {
    color: ##0000ff;
    font-weight: bold;
}

span.code_preprocessor {
    color: #0000ff;
    font-weight: bold;
}

span.code_braces {
    color: #000000;
    font-weight: normal;
}

span.code_symbol {
    color: #404080;
}

span.code_function_header {
    color: #000000;
    font-weight: bold;
}

span.code_function_header_name {
    color: #ff0000;
}

span.code_function_header_args {
    color: #2040a0;
}

span.code_regex {
    color: #b000d0;
}

span.code_text {
    color: #000000;
    font-style: italic;
}

span.code_entity {
    color: #ff0000;
}

span.code_assignment {
    color: #2040a0;
}

span.code_dependecy_line {
    color: #8b2252;
}

span.code_dependency_target {
    color: #000000;
    font-weight: bold;
}

span.code_dependency_continuation {
    color: #000000;
    font-weight: bold;
}

span.code_continuation {
    color: #000000;
    font-weight: bold;
}

span.code_macro {
    color: #2040a0;
}

span.code_int_macro {
    color: #4080ff;
}

span.code_esc_dollars {
    color: #444444;
}

span.code_separator {
    color: #00A040;
    font-weight: bold;
}

span.code_line_spec {
    color: #A0A000;
    font-weight: bold;
}

span.code_deletion {
    color: #FF0000;
    font-weight: bold;
}

span.code_insertion {
    color: #0000FF;
    font-weight: bold;
}
